@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      transform: scale(1.1) rotate(-5deg); 
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
}

.btn-n:hover {
   animation: pulse 1s ease 0s infinite normal;
}
.box {
  width: 800px;
  height: 500px;
  background: url(../img/bg.png);
}
button:focus,
input:focus {
  outline: none;
}
.tabs {
  position: absolute;
  width: 629px;
  height: 444px;
  color: #404040;
  margin-top: 19px;
  margin-left: 83px;
}
.tabs .hat-in {
  font-family: 'Myriad Pro', sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
}
.tabs .hat-reg {
  font-family: 'Myriad Pro', sans-serif;
  color: #080707;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
}
.tabs .tab-input-one {
  position: relative;
  display: block;
  width: 482px;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  margin-top: 69px;
}
.tabs .tab-input-two {
  position: relative;
  display: block;
  width: 482px;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  margin-top: 30px;
}
.tabs .tab-input-three {
  position: relative;
  display: block;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  width: 482px;
  height: 15px;
  font-size: 15px;
  margin-top: 25px;
}
.tabs .tab-input-four {
  position: relative;
  display: block;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  width: 482px;
  height: 15px;
  font-size: 15px;
  margin-top: 25px;
}
.tabs .tab-input-five {
  position: relative;
  display: block;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  width: 482px;
  height: 15px;
  font-size: 15px;
  margin-top: 25px;
}
.tabs .tab-input-six {
  position: relative;
  display: block;
  height: 61px;
  border: none;
  border-radius: 5px;
  background: url(../img/bg-input.png);
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  padding: 24px 23px;
  margin-left: 40px;
  width: 482px;
  height: 15px;
  font-size: 15px;
  margin-top: 25px;
}
.tabs .forget-pass {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  margin-top: 20px;
  margin-left: 91px;
  color: #c51f03;
}
.tabs .bg-in {
  background: #03a5da;
  border-radius: 5px;
}
.tabs .bg-in .everything {
  position: absolute;
  display: inline-block;
  width: 580px;
  height: 364px;
  background: url(../img/bg-tab.png) center no-repeat;
  margin-top: 23px;
  margin-left: 7px;
  border-radius: 5px;
}
.tabs .bg-in .checkbox {
  display: inline-block;
  margin-top: 40px;
  margin-left: 111px;
}
.tabs .bg-in .reg-in {
  display: inline-block;
  width: 180px;
  height: 30px;
}
.tabs .bg-in .flap {
  margin-top: -11px;
  margin-left: 597px;
}
.tabs .btn-n {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 128px;
  height: 41px;
  z-index: 999;
  margin-top: 337px;
  margin-left: 500px;
}
.tabs .btn-n-img {
  width: 131px;
  height: 47px;
}
.tabs ul,
.tabs li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs input[type="radio"]:checked + label {
  position: relative;
}
.tabs li,
.tabs input[type="radio"] + label {
  display: inline-block;
}
.tabs li > div,
.tabs input[type="radio"] {
  position: absolute;
}
.tabs li > div,
.tabs input[type="radio"] + label {
  border: solid 1px #ccc;
}
.tabs li {
  vertical-align: top;
}
.tabs li:first-child {
  margin-left: 8px;
}
.tabs li > div {
  top: 33px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  overflow: auto;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs input[type="radio"] + label {
  margin: 0 2px 0 0;
  padding: 0 18px;
  line-height: 32px;
  background: #f1f1f1;
  text-align: center;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.tabs input[type="radio"]:checked + label {
  z-index: 1;
  background: #03a5da;
  border-bottom-color: #fff;
  cursor: default;
}
.tabs input[type="radio"] {
  opacity: 0;
}
.tabs input[type="radio"] ~ div {
  display: none;
}
.tabs input[type="radio"]:checked:not(:disabled) ~ div {
  display: block;
}
.tabs input[type="radio"]:disabled + label {
  opacity: 0.5;
  cursor: no-drop;
}
