h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.gg {
	text-align: center;
}

a {
	color: #000
 }

p {
	text-align: justify;
}

.sparrow {
	text-align: center;
}



.part-1 {
	font-style: italic;
}

.part-2 {
	text-decoration: underline;
}

.part-3 {
	font-weight: bold;
}

.part-4 {
	text-decoration: line-through;
}
body {
	background-color: #808080;
}

